.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--dark);
    height: 80px;
}

.header h1 {
    color: var(--light);
    margin: 8px;
}

.header-input {
    padding: 5px;
    /* height: 40px; */
   
}

/* .header-input-container {
    position: relative;
} */

/* .search-icon {
    color: var(--light);
    margin: 0 8px;
} */

.upload-btn{
   /* height: 30px; */
   padding: 5px;
   border-radius: 5px;
   background: aquamarine;
   cursor: pointer; 
}

.upload-btn:hover {
    background: plum;
    transition: 0.3s;
}

.search-btn {
    margin-left: 5px;
    padding: 5px;
    color: rgb(92, 92, 221);
    cursor: pointer;

}